

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e3a8a;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 60px;
  padding: 2px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 40px;
  transition: 0.3s;
}

.navbar nav a:hover {
  opacity: 0.7;
}

.logout {
  color: #ffb4b4;
}

/* CONTAINER */
.container {
  padding: 30px;
  background: #f3f4f6;
  min-height: 100vh;
  
}

/* JANELA EM DESTAQUE */
.window {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  
}

.window a {
    color: inherit;
    text-decoration: none;
}
/* DESTAQUE */
.featured {
  border-left: 6px solid #1e3a8a;
  margin-bottom: 20px;
}

/* GRID DE JANELAS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.window h3 {
  margin-bottom: 10px;
  color: #1e3a8a;
}
